<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="user.component.css">
  <!-- =====BOX ICONS===== -->
  <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
</head>

<div class="container">
  <div class="row mb-2 mt-2 text-center">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <h5>Two Way</h5>
      <small *ngIf="titleAction$ | async as title">{{ title }}</small>
    </div>
  </div>
</div>

<div id="username-page">
  <div class="username-page-container">
    <h1 class="title">Type your username to enter the Chatroom</h1>
    <form id="usernameForm" name="usernameForm" (ngSubmit)="connect()">
      <div class="form-group">
        <input type="text" id="name" placeholder="Username" autocomplete="off" class="form-control" [(ngModel)]="username" name="username" />
      </div>
      <div class="form-group">
        <button type="submit" class="accent username-submit">Start Chatting</button>
      </div>
    </form>
  </div>
</div>


<div id="chat-page" class="hidden">
  <div class="chat-container">
    <div class="chat-header">
      <h2>Spring WebSocket Chat</h2>
    </div>
    <div class="connecting">
      Connecting...
    </div>
    <ul id="messageArea">

    </ul>
    <form id="messageForm" name="messageForm">
      <div class="form-group">
        <div class="input-group clearfix">
          <input type="text" id="message" placeholder="Type a message..." autocomplete="off" class="form-control"/>
          <button type="submit" class="primary">Send</button>
        </div>
      </div>
    </form>
  </div>
</div>

<!--<div class="row">-->
<!--  <div class="col-lg-6">-->
<!--    <section id="yarns-section">-->
<!--      <div class="mb-2 text-center"><h4><b>The Wall</b></h4></div>-->
<!--      <div class="mb-3 text-center">-->
<!--        <div id="scroll-div" (scroll)="onScroll()" class="btn-group mr-2">-->
<!--          <ul class="message-list">-->
<!--            &lt;!&ndash; Apply the reverse pipe to the yarnMessages array in the *ngFor loop &ndash;&gt;-->
<!--            <div *ngFor="let message of Messages.reverse()">-->
<!--              <li class="message-item">-->
<!--                <div class="message-header">-->
<!--                  <h5 class="sender">{{ message.sender }}</h5>-->
<!--                </div>-->
<!--                <div class="message-content">-->
<!--                  <p class="content">{{ message.content }}</p>-->
<!--                </div>-->
<!--              </li>-->
<!--            </div>-->
<!--          </ul>-->
<!--        </div>-->
<!--      </div>-->
<!--      &lt;!&ndash; Yarn Post Modal &ndash;&gt;-->
<!--      <div class="" id="yarnModal" tabindex="-1" role="dialog" aria-labelledby="info" aria-hidden="false">-->
<!--        <div class="modal-dialog" role="document">-->
<!--          <div class="content">-->
<!--            <div class="header">-->
<!--              <h5 class="title" id="yarnModalLabel">Write a Post</h5>-->
<!--              <button id="yarn-close" type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                <span aria-hidden="true">&times;</span>-->
<!--              </button>-->
<!--            </div>-->
<!--            <div class="body">-->
<!--              <div>-->
<!--                <form #newYarnForm="ngForm" (ngSubmit)="sendYarn(newYarnForm)">-->
<!--                  <div class="form-row">-->
<!--                    <div class="form-group col-md-6">-->
<!--                      <label for="yarnSender">Sender:</label>-->
<!--                      <input type="text" class="form-control" id="yarnSender" name="yarnSender" [(ngModel)]="user.username" disabled>-->
<!--                    </div>-->
<!--                    <div class="form-group col-md-6">-->
<!--                      <label for="yarnRecipient">Recipient' Username:</label>-->
<!--                      <input type="text" class="form-control" id="yarnRecipient" name="yarnRecipient" [(ngModel)]="recipient">-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <div class="form-group">-->
<!--                    <label for="yarnMessage">Message:</label>-->
<!--                    <input type="text" class="form-control" id="yarnMessage" name="yarnMessage" [(ngModel)]="yarn">-->
<!--                  </div>-->
<!--                  &lt;!&ndash; The visible "Post" button that triggers form submission &ndash;&gt;-->
<!--                  <div class="text-right">-->
<!--                    <button type="submit" class="btn btn-primary">Post</button>-->
<!--                  </div>-->
<!--                </form>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </section>-->
<!--  </div>-->
<!--</div>-->
